<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <div id="form-container">
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "ERROR") %> PREVENTED THE FORM FORM SUBMITTING:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "FULL NAME" %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, class: "form-control", placeholder: "EMAIL" %>
        </div>
        <div class="form-group">
          <%= f.text_field :projectrepo, class: "form-control", placeholder: "PROJECT REPO" %>
        </div>
        <div class="form-group">
          <%= f.text_field :projecturl, class: "form-control", placeholder: "PROJECT URL" %>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :oopprac, "USING BEST PRACTICES FOR OOP:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :oopprac, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :moddev, "MODULAR DEVELOPMENT:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :moddev, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :fullstack, "FULL STACK WORKFLOW UNDERSTANDING:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :fullstack, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :testing, "TESTING:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :testing, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :dbknow, "DATABASE KNOWLEDGE:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :dbknow, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :debug, "DEBUGGING:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :debug, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :problems, "PROBLEM SOLVING SKILLS:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :problems, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :js, "JAVASCRIPT:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :js, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :html, "HTML:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :html, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :css, "CSS:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :css, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :teamwork, "WORKING ON A TEAM:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :teamwork, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :motivation, "SELF MOTIVATION:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :motivation, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :communication, "COMMUNICATION SKILLS:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :communication, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :energy, "YOUR OWN ENERGY LEVEL:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :energy, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-sm-10">
            <div class="form-label">
              <%= f.label :intelligence, "INTELLIGENCE:" %>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <%= f.number_field :intelligence, class: "form-control", min: 0, max: 50 %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-primary", id: "submit-button", value: "SUBMIT"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
