<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Projectrepo:</strong>
  <%= @user.projectrepo %>
</p>

<p>
  <strong>Projecturl:</strong>
  <%= @user.projecturl %>
</p>

<p>
  <strong>Oopprac:</strong>
  <%= @user.oopprac %>
</p>

<p>
  <strong>Moddev:</strong>
  <%= @user.moddev %>
</p>

<p>
  <strong>Fullstack:</strong>
  <%= @user.fullstack %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @user.testing %>
</p>

<p>
  <strong>Dbknow:</strong>
  <%= @user.dbknow %>
</p>

<p>
  <strong>Debug:</strong>
  <%= @user.debug %>
</p>

<p>
  <strong>Problems:</strong>
  <%= @user.problems %>
</p>

<p>
  <strong>Js:</strong>
  <%= @user.js %>
</p>

<p>
  <strong>Html:</strong>
  <%= @user.html %>
</p>

<p>
  <strong>Css:</strong>
  <%= @user.css %>
</p>

<p>
  <strong>Teamwork:</strong>
  <%= @user.teamwork %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @user.motivation %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @user.communication %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @user.energy %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @user.intelligence %>
</p>
